{% extends "base.html.twig" %}

{% block body %}
    <div>
        {{ form_start(form) }}
        {% for num in choice_num %}    
            {{ form_label(form.answer[num]) }}
            {{ form_widget(form.answer[num]) }}
        {% endfor %}
        {{ form_end(form) }}
    </div>
{% endblock %}