{% extends "base.html.twig" %}

{% block body %}
    <div>
        {% for quiz_num,  result in results %}
            {{ quiz_num }}. {{ result }}
        {% endfor %}

        <a href="{{ path('four_course_list') }}"><<大問一覧へ</a>
    </div>
{% endblock %}