{% extends "base.html.twig" %}

{% block body %}
    <div>
        <a href="{{ path('four_course_list') }}"><<問一覧へ</a>
        <h1>大問を編集</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}