{% extends "base.html.twig" %}

{% block body %}
    <h1>4択クイズ</h1>
    {% for course in courses %}
        {{ course.name }}
        <br />
        <a href="{{ path('four_course_show', { 'id': course.id }) }}">詳細</a>
        <a href="{{ path('four_course_show', {'id': course.id }) }}">名前変更</a>
        <br />
        <br />
    {% endfor %}
    <a href="{{ path('four_course_new') }}">追加</a>
{% endblock %}