{% extends "base.html.twig" %}

{% block body %}
<div>

    {{ include('default/genre_header.html.twig') }}
    {% for result in results %}
        <a href="{{ path('four_show', {'id': result.quiz.id}) }}">{{ result.quiz.question }}</a><br>
        {{ result.result }}<br><br>
    {% endfor %}
</div>
{% endblock %}