{% extends "base.html.twig" %}

{% block body %}
<div>

    {{ include('default/genre_header.html.twig') }}
    {% for result in results %}
        {{ result.result }}<br>
    {% endfor %}
</div>
{% endblock %}