{% extends "base.html.twig" %}

{% block body %}
<div>

    {{ include('default/genre_header.html.twig') }}
    {% for result in results %}
        {{ result.quiz.question }}<br>
        {{ result.result }}<br><br>
    {% endfor %}
</div>
{% endblock %}